# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
artifacts

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
.idea

*.exe
*.test
*.prof
localhost.crt
localhost.key
habitus
compiled
habitus_darwin_386
habitus_darwin_amd64
habitus_linux_386
habitus_linux_amd64
habitus_linux_arm
launch.json
