habitus:
  build: .
  volumes:
    - ${PWD}:/usr/local/go/src/github.com/cloud66/habitus
    - ${HOME}/.docker/machine/machines/default:/usr/local/docker/default
  environment:
    - DOCKER_HOST=$DOCKER_HOST
    - DOCKER_CERT_PATH=/usr/local/docker/default